.forum {
}

.forum-list {
}

.forum-post {
	border-bottom: 1px solid;
	padding-bottom: 1rem;
	padding-top: 1rem;
	.post-info {
		font-size: .8rem;

		.post-info--author {
			font-weight: 800;
			color: $transparent-red;
		}	

		.post-info--date {
			color: $gray-500;
		}
	}
	.forum-post--commentcount {
		width: 2rem;
		margin-left: 15px;
		margin-right: 15px;

		p.commentcount {
			font-weight: 700;
			opacity: .8;
		}
	}
}

.post {
	padding-bottom: 3rem;
}